Repository openhack-devops-t5/openhack-devops, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tslavik, @jonathan-vella, @sychell, @dabedin, @haforsbe

.github/CODEOWNERS:

# In this example, any change inside the `/apis` directory
# will require approval from @tslavik or @octocat.
*       @tslavik
/apis/userprofile @tslavik
/apis/user-java @jonathan-vella
/apis/trips @sychell
/apis/poi @dabedin @haforsbe

test
  apis/poi/README.md
Owners: @dabedin, @haforsbe

fix readme in trips
  apis/trips/README.md
Owners: @sychell

Create node.js.yml
  .github/workflows/node.js.yml
Owners: @tslavik

userprofile node pipe
  apis/test.json
Owners: @tslavik

userprofile node pipe
  .github/workflows/userprofile.yml
Owners: @tslavik

Set up CI with Azure Pipelines
  azure-pipelines.yml
Owners: @tslavik

path correction
  .github/workflows/userprofile.yml
Owners: @tslavik

moved pipeline
  apis/poi/cicd/azure-pipelines.yml
Owners: @dabedin, @haforsbe

Update azure-pipelines.yml for Azure Pipelines
  apis/poi/cicd/azure-pipelines.yml
Owners: @dabedin, @haforsbe

update paths
  .github/workflows/userprofile.yml
Owners: @tslavik

Update azure-pipelines.yml for Azure Pipelines
  apis/poi/cicd/azure-pipelines.yml
Owners: @dabedin, @haforsbe

updated connection string
  apis/poi/web/appsettings.json
Owners: @dabedin, @haforsbe

Update azure-pipelines.yml for Azure Pipelines
  apis/poi/cicd/azure-pipelines.yml
Owners: @dabedin, @haforsbe

test creating an issue
  .github/workflows/create_issue.yml
  .github/workflows/userprofile.yml
  apis/userprofile/tests/healthcheck/user.js
Owners: @tslavik

do not run azure pipeline
  .github/workflows/userprofile.yml
Owners: @tslavik

paths back
  .github/workflows/userprofile.yml
Owners: @tslavik

templ path
  .github/workflows/userprofile.yml
Owners: @tslavik

custom template
  .github/ISSUE_TEMPLATE_CUSTOM.md
  .github/workflows/userprofile.yml
Owners: @tslavik

update template
  .github/ISSUE_TEMPLATE_CUSTOM.md
Owners: @tslavik

just one version
  .github/workflows/userprofile.yml
Owners: @tslavik

matrix not needed
  .github/workflows/userprofile.yml
Owners: @tslavik

update path
  .github/workflows/userprofile.yml
Owners: @tslavik

Update azure-pipelines.yml for Azure Pipelines
  apis/poi/cicd/azure-pipelines.yml
Owners: @dabedin, @haforsbe

test fix
  apis/userprofile/tests/healthcheck/user.js
Owners: @tslavik

correct path
  .github/workflows/userprofile.yml
  apis/userprofile/tests/healthcheck/user.js
Owners: @tslavik

test break
  apis/userprofile/tests/healthcheck/user.js
Owners: @tslavik

Update azure-pipelines.yml for Azure Pipelines
  apis/poi/cicd/azure-pipelines.yml
Owners: @dabedin, @haforsbe

Update azure-pipelines.yml for Azure Pipelines
  apis/poi/cicd/azure-pipelines.yml
Owners: @dabedin, @haforsbe

Update azure-pipelines.yml for Azure Pipelines
  apis/poi/cicd/azure-pipelines.yml
Owners: @dabedin, @haforsbe

Update azure-pipelines.yml for Azure Pipelines
  apis/poi/cicd/azure-pipelines.yml
Owners: @dabedin, @haforsbe

Update azure-pipelines.yml for Azure Pipelines
  apis/poi/cicd/azure-pipelines.yml
Owners: @dabedin, @haforsbe

test fix
  apis/userprofile/tests/healthcheck/user.js
Owners: @tslavik

Update azure-pipelines.yml for Azure Pipelines
  apis/poi/cicd/azure-pipelines.yml
Owners: @dabedin, @haforsbe

change the token
  .github/workflows/userprofile.yml
Owners: @tslavik

path added
  .github/workflows/userprofile.yml
Owners: @tslavik

break the test
  apis/userprofile/tests/healthcheck/user.js
Owners: @tslavik

remove
  apis/poi/web/appsettings.json
Owners: @dabedin, @haforsbe

test fix
  apis/userprofile/tests/healthcheck/user.js
Owners: @tslavik

test fail
  apis/userprofile/tests/healthcheck/user.js
Owners: @tslavik

fix test
  apis/userprofile/tests/healthcheck/user.js
Owners: @tslavik
